#searchbox{ margin-left:-60px!important;}
#links {float:none!important;}
#innertop .widget,#innerbottom .widget,.post{margin-right:-1px!important;}
#commentform p{text-align: right;}
#commentform p input{float:none!important;margin: 0 0 0 6px!important;}