<?php itx_css_import('ui/redmond/jquery.ui.theme.css'); ?>

/*
Colors of bombax
type: sea
*/

body{color: #000;background: #e0e0f0;}
hr {color: #333;border-color: #222;}
pre{background-color: #eee;}
a {color: #334;}
blockquote {background-color: #fff;border-color: #ccc;color: #000;}
code {color: #3366cc;}

/*menu*/
#top-menu ul.sf-menu{background-color: transparent;border:none;}
#top-menu a{border:none;border-bottom: 1px dotted #000;text-decoration: none;}
#top-menu a:hover{border-bottom-style: solid;}

.sf-menu{border-left: 2px solid #f0f0f0;}
.sf-menu a {border-right: 2px solid #f0f0f0;}
.sf-menu li li a{border-top:1px solid #f0f0f0;}
.sf-menu a, .sf-menu a:visited {color:#000;}
.sf-menu li li {background:#e0e0e0;}
.sf-menu li li li {background:#d0d0d0;}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
.current-menu-item {background:#dde;color:#000;}

/*content*/
#content .pagetitle{border:1px solid #ccc;}
.post a:hover{color:#c46;}
.post .thumb .itx-thumb, .post .thumb .itx-featured{border: 1px solid #ccc;}
.post .entry {color: #000;}
.post .entry a:hover,.singlepost a:hover {color: #9933ff;}
.linkpages ,.linkpages a {color:#862;}
.linkpages a:hover {color: #121;}
.linepost{border-bottom: 1px solid #ccc;}
.singlepost .entry a {color: #f11;}
.singlepost .titlewrap a,.post .title a{color:#008;text-shadow:#ddd 1px 1px 1px}
.singlepost .tags em,.singlepost .categories em,.singlepost .categories a,.singlepost .tags a{color: #6555bb;}
.singlepost .categories a:hover , .singlepost .tags a:hover {color: #000;}
.footmeta{border-top:1px dotted #aaa;}
.singlepost .author_info{border:1px solid #aaa;}

/*navi and friends*/
#main .wp-pagenavi,#main .wp-pagenavi a{color:#666;}
.nextprevious a:hover,#main .wp-pagenavi a:hover{color:#f40;}
#extrastuff a {color:#555;}
#extrastuff a:hover {color:#000;}

/*comments*/
#comments p a {color: #6598b8;}
#comments p a:hover {color: #000;}
.commentlist li, .trackback li {background-color: #fff;border-color:#aaa;}
.commentlist li.alt {background-color: #f4f4fa;}
.commentlist li.bypostauthor{background-color: #ddf;border: 1px solid #77f;}
.commentlist a {color: #008;}
.commentlist a:hover {color: #000;}
#comments cite {color: #00a;}
#comments .comment-meta a {color: #666;}
.commentlist p {color: #000;}
textarea#comment {background-color: #fff;color: #111;}


/* Sidebars */
.sidebar a{color:#b00;}
#on,.sidebar a:hover{color: #33f;}
.sidebar .widget li{border-bottom: 1px solid #ccc;}
.widget li{background: url(<?php bloginfo('template_url');?>/images/butblue3.png) 0px 7px no-repeat;}
.widget li:hover,#on{background: url(<?php bloginfo('template_url');?>/images/butblue1.png) 0px 7px no-repeat;}
.widget .tabheader li:hover{background: #fff;}

/*footer*/
#footwrap{background: #d0d0e0}
#footer{color: #224;}
#footer h3{color: #224;border-color: #444;}
#footer a{color:#333;}
#footerfoot {color:#222;background: #c0c0d0}
#footerfoot a{color: #444;}
#footerfoot a:hover{color: #000;}
.highlight{color: #222;}
.wp-caption{border-color: #ddd;background-color: #f3f3f3;}
.wp-caption p.wp-caption-text{color: #111;}

/*calendar*/
#wp-calendar caption {border: 1px solid #ccc;background-color: #f5f5f5;}
#wp-calendar th{background-color: #888;color:#111;}
#wp-calendar tbody td{border: 1px solid #666;}
#wp-calendar tbody a{background-color: #fff;border: 1px solid #ccc;}