<?php itx_css_import('ui/hot-sneaks/jquery.ui.theme.css'); ?>

/*
Colors of bombax
type: urban
*/

body{color: #000;background: #f0f0f0;}
hr {color: #333;border-color: #222;}
pre{background-color: #eee;}
a {color: #334;}
blockquote {background-color: #fff;border-color: #ccc;color: #000;}
code {color: #3366cc;}

/*menu*/
#top-menu ul.sf-menu{border:none;}
#top-menu a{border:none;border-bottom: 1px dotted #000;text-decoration: none;}
#top-menu a:hover{border-bottom-style: solid;}
#menu a{color:#fff;}

.sf-menu{border-left: 2px solid #f0f0f0;}
.sf-menu a {border-right: 2px solid #f0f0f0;}
.sf-menu li li a{border-top:1px solid #f0f0f0;}
.sf-menu a, .sf-menu a:visited {color:#000;}
.sf-menu li li {background:#a0e030;}
.sf-menu li li li {background:#90d020;}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
.current-menu-item {background:#CCD232;color:#000;}

/*content*/
#content .pagetitle{border:1px solid #ccc;}
.post a:hover{color:#494;}
.post .thumb .itx-thumb, .post .thumb .itx-featured{border: 1px solid #ccc;}
.post .entry {color: #000;}
.post .entry a:hover,.singlepost a:hover {color: #393;}
.linkpages ,.linkpages a {color:#862;}
.linkpages a:hover {color: #121;}
.linepost{border-bottom: 1px solid #ccc;}
.singlepost .entry a {color: #f11;}
.singlepost .titlewrap a,.post .title a{color:#007;text-shadow:#ddd 1px 1px 1px}
.singlepost .tags em,.singlepost .categories em,.singlepost .categories a,.singlepost .tags a{color: #6555bb;}
.singlepost .categories a:hover , .singlepost .tags a:hover {color: #000;}
.footmeta{border-top:1px dotted #aaa;}
.singlepost .author_info{border:1px solid #aaa;}

/*navi and friends*/
#main .wp-pagenavi,#main .wp-pagenavi a{color:#fff;}
.nextprevious a:hover,#main .wp-pagenavi a:hover{color:#000;}
#extrastuff a {color:#555;}
#extrastuff a:hover {color:#000;}

/*comments*/
#comments p a {color: #6598b8;}
#comments p a:hover {color: #000;}
.commentlist li, .trackback li {background-color: #fff;border-color:#aaa;}
.commentlist li.alt {background-color: #fff4fa;}
.commentlist li.bypostauthor{background-color: #def;border: 1px solid #779;}
.commentlist a {color: #008;}
.commentlist a:hover {color: #000;}
#comments cite {color: #00a;}
#comments .comment-meta a {color: #666;}
.commentlist p {color: #000;}
textarea#comment {background-color: #fff;color: #111;}

/* Sidebars */
.sidebar a{color:#b00;}
#on,.sidebar a:hover{color: #33f;}
.sidebar .widget li{border-bottom: 1px solid #ccc;}
.widget li{background: url(<?php bloginfo('template_url');?>/images/butred3.png) 0px 7px no-repeat;}
.widget li:hover,#on{background: url(<?php bloginfo('template_url');?>/images/butred1.png) 0px 7px no-repeat;}
.widget .tabheader li:hover{background: #223;}

/*footer*/
#footwrap{background: #35414F}
#footer{color: #ddb;}
#footer h3{color: #ddb;border-color: #444;}
#footer a{color:#ccc;}
#footerfoot {color:#ddd;background: #2C4359}
#footerfoot a{color: #bbb;}
#footerfoot a:hover{color: #fff;}
.highlight{color: #ddd;}
.wp-caption{border-color: #222;background-color: #0c0c0c;}
.wp-caption p.wp-caption-text{color: #eee;}

/*calendar*/
#wp-calendar caption {border: 1px solid #ccc;background-color: #f5f5f5;}
#wp-calendar th{background-color: #888;color:#111;}
#wp-calendar tbody td{border: 1px solid #666;}
#wp-calendar tbody a{background-color: #fff;border: 1px solid #ccc;}